{% extends 'base.html' %}
{% load meus_filtros %}

{% block title %}
    Cadastrar Pedido
{% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form_pedido.cliente.errors }}
            <label>Cliente: </label>
            {{form_pedido.cliente | addClass:'form-control'}}
        </div>
        <div class="form-group">
            {{ form_pedido.produtos.errors }}
            <label>Produtos</label>
            {{form_pedido.produtos | addClass:'form-control'}}
        </div>
        <div class="form-group">
            {{ form_pedido.observacoes.errors }}
            <label>Observações: </label>
            {{form_pedido.observacoes | addClass:'form-control'}}
        </div>
        <div class="form-group">
            {{ form_pedido.valor.errors }}
            <label>Valor: </label>
            {{form_pedido.valor | addClass:'form-control'}}
        </div>
        <div class="form-group">
            {{ form_pedido.status.errors }}
            <label>Status: </label>
            {{form_pedido.status | addClass:'form-control'}}
        </div>
        <div class="form-group">
            {{ form_pedido.data_pedido.errors }}
            <label>Data do pedido: </label>
            {{form_pedido.data_pedido | addClass:'form-control'}}
        </div>
        <hr />
         <div class="form-group">
            <input class="btn btn-primary" type="submit" name="Cadastrar"></input>
        </div>
    </form>
{% endblock content %}