{% extends "clientes/base.html" %}
{% load meus_filtros %}

{% block title %}
Cadastro de usuário
{% endblock title %}


{% block content %}
     <form method="post">

         <!-- Cria um HASH que garante que os dados enviados sejam da nossa aplicação -->
         {% csrf_token %}
         <div class="form-group">
             {{form.nome.errors}}
            <label>Nome: </label>
            {{form.nome | addClass:'form-control'}}
         </div>

         <div class="form-group">
             {{form.sexo.errors}}
            <label>Sexo: </label>
            {{form.sexo | addClass:'form-control'}}
        </div>

         <div class="form-group">
             {{form.data_nascimento.errors}}
            <label>Data de nascimento: </label>
            {{form.data_nascimento | addClass:'form-control'}}
        </div>

         <div class="form-group">
             {{form.email.errors}}
            <label>Email: </label>
            {{form.email | addClass:'form-control'}}
        </div>

         <div class="form-group">
             {{form.profissao.erros}}
            <label>Profissão: </label>
            {{form.profissao | addClass:'form-control'}}
         </div>

         <div class="form-group">
             <input class="btn btn-primary" type="submit" name="Cadastrar"></input>
         </div>
     </form>
{% endblock content%}
