{% extends 'base.html' %}
{% load static %}
{% load meus_filtros %}

{% block header %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static  'blog/img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>TreinaWeb Blog</h1>
            <span class="subheading">Atualize suas informações</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{form_usuario.nome.errors}}
            <label>Nome: </label>
            {{form_usuario.nome | addclass:'form-control'}}
        </div>

        <div class="form-group">
            {{form_usuario.email.errors}}
            <label>Email: </label>
            {{form_usuario.email | addclass:'form-control'}}
        </div>
        <div class="form-group">
            {{form_usuario.pais_origem.errors}}
            <label>País de origem: </label>
            {{form_usuario.pais_origem | addclass:'form-control'}}
        </div>

        <div class="form-group">
            <input type="submit" value="Atualizar" class="btn btn-primary">
        </div>
    </form>
{% endblock content %}