{% extends 'base.html' %}
{% load static %}

{% block header %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{post.capa.url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ post.titulo }}</h1>
            <span class="subheading">{{ post.descricao }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}
<article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>{{ post.conteudo }}</p>
        </div>
      </div>
    </div>
  </article>
<hr>
{% endblock content %}